/* CSS tournament */

body {
 font-family: sans-serif;
 margin: 0;
}

#app {
  max-width: 1024px;
  margin: 0 auto;
}

 .battle-wrapper {
   display: flex;
 }

 .battle-list {
     display: flex;
     flex-direction: column;
     min-height: 400px;
     row-gap: 10px;
     padding: 0 10px 10px;
     height: 100%;
    justify-content: space-around;
 }
 .battle-list-1, .battle-list-2 {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 2%;
     height: 100%;
 }

 .battle-inner {
   flex: 1 1;
 }


 .battle-inner > h3 {
   font-style: italic;
   margin:15px;
   padding: 5px;
   color: #BBB;
   font-weight: 200;
   font-size: 14px;
   text-align: center;
   border-bottom: 1px dotted #bbb;
 }

 .battle {
     margin: 0 3% 5%;
     border: 3px solid #fcfcfc;
     padding: 0;
     background-color: #fbfbfb;
     box-shadow: 2px 2px 4px #ccc;
     position: relative;
 }

 [class^="battle-list-"] .battle::before  {
     content:"";
     background: url("arrow.svg");
     background-size: contain;
     background-repeat: no-repeat;
     width: 150px;
     height: 100px;
     display: inline-block;
     position: absolute;
     left: -30px;
     top: -80px;
     z-index: 10;
 }

  [class^="battle-list-"] .battle::after  {
     content:"";
     background: url("arrow.svg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: 50% 60%;
     width: 150px;
     height: 100px;
     display: inline-block;
     position: absolute;
     left: -30px;
     bottom: -100px;
     z-index: 10;
    transform: scaleY(-1);
 }

 .battle .battle-player {
     padding: 7px;
     display: flex;
     align-items: center;
     min-height: 57px;
 }

 .battle-player:first-of-type {
     border-bottom: 1px dashed #666;
 }



 .score {
   border-left: 2px solid rgb(205, 205, 205);
   flex: 1 1;
   padding-left: 7px;
   text-align: center;
 }

 .user-name{
     flex: 2 1;
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-right: 10px;
 }

 .user-name span.no-picture{
     box-sizing: border-box;
     border: #aaa solid 1px;
     color: #777;
     background-color: white;
     display: inline-block;
     width: 35px;
     height: 35px;
     background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%), linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%);
     background-size: 10px 10px;
     background-position: 0 0, 5px 5px;
   }

 [class^="battle-player"] {
     display: flex;
     min-width: 220px;
 }

 .battle-player-win {
   color: #00ae00;
   background-color: #f6fff6;
 }

 .battle-player-loose {
   color: #ccc;
   background-color: #fafafa;
 }

 input {
   max-width: 100px;
   padding: 5px 10px;
   border: 0;
   border-bottom: 3px solid grey;
   border-radius: 0;
   background-color: transparent;
   height: 30px;

 }

 input[type="number"] {
   width: 30px;
   height: 30px;
 }

 label {
   font-size: 10px;
   display: block;
 }

 .battle h2, .battle h3 {
   font-size: 18px;
   margin: 0;
   font-weight: 500;
 }

 .listNames {
   position: absolute;
   left: 0;
   top: 44px;
   border: 1px solid rgb(211, 211, 211);
   border-left: 3px solid grey;
   background-color: white;
   width: 100px;
   z-index: 10;
   display: none;
 }

 .listNames a {
   display: block;
   font-size: 12px;
   padding: 7px 4px;
   color: grey;
   text-decoration: none;
   border-bottom: 1px solid #ededed;
 }

   .listNames a:hover {
   background-color: #ddf6ff;
 }

  [class^="battle-list-"] .battle {
   opacity: 0;
 }


 [class^="battle-list-"] .battle.fade-answers-appear {
   opacity: 0;
   left: -30px;
   position: relative;
 }

 [class^="battle-list-"] .battle.fade-answers-done.fade-answers-enter-done {
   opacity: 1;
   position: relative;
   left: 0px;
 }

 [class^="battle-list-"] .battle.fade-answers-appear-active {
   opacity: 1;
   left: 0px;
   transition: all 500ms;
 }

 [class^="battle-list-"] .battle.fade-answers-enter {
   opacity: 0;
   position: relative;
   left: -30px;
 }

 [class^="battle-list-"] .battle.fade-answers-enter-active {
   opacity: 1;
   left: 0px;
   transition: all 500ms;
 }

 [class^="battle-list-"] .battle.fade-answers-enter-done {
   opacity: 1;
   left: 0px;
 }

 [class^="battle-list-"] .battle.fade-answers-exit {
   opacity: 1;
   left: 0px;
   position: relative;
 }

 [class^="battle-list-"] .battle.fade-answers-exit-active {
   opacity: 0;
   left: -30px;
   transition: all 500ms;
 }

 [class^="battle-list-"] .battle.fade-answers-exit-done {
   opacity: 0;
 }

 .alert-wrapper {
   display: flex;
   background-color: #cc110011;
   justify-content: space-around;
   align-items: center;
   border-bottom: #c10 4px solid;
   color: #c10;
 }

 .alert-wrapper span {
   cursor: pointer;
 }

 .alert-warning {
   padding: 10px;

 }

 .register {
   text-align: right;
 }

 .register button {
   display: inline-block;
   padding: 8px;
   background-color: navy;
   color: white;
   border: 0;
   border-radius: 4px;
 }

 h2 + img {
   width : 35px;
 }

 @media (max-width: 760px) {
   #app {
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
   }
   .battle {
     margin: 10px 0;
   }
   .battle-wrapper {
     flex-flow: column;
   }
   .battle-list {
     padding: 3%;
     row-gap: 5px;
   }
   .battle h2 {
     font-size: 15px;
   }
   .battle .battle-player {
     min-height: initial;
   }

   input[type="number"] {
     padding: 0;
     max-width: 80%;
     width: 100%;
   }

   [class^="battle-list-"] .battle::before  {
       display: none;
   }

    [class^="battle-list-"] .battle::after  {
       display: none;
   }

 }
